@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
  background-color: #22222e;
}

.display{
  background-color:#d3e2dd;
  color: #2e336b;
  width: 60vw;
  text-align: right;
  font-family: "Orbitron";
  border: solid 5px #8c908f;
}
.wide{
  width: 45vw;
  background-color: #e39148;
}
.button{
  border-radius: 40%;
  padding: 1%;
  margin: 1%;
  border: solid 3px #8c908f;
}

.container{
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  padding-inline: 12vw;
  flex-wrap: wrap;
  justify-content: center
}
.operator {
  background-color: #655a9f;
  width:  15vw;
  height: 15vh;
  color: white;
}

.num{
  width: 15vw;
  height: 15vh;
  background-color: #202528;
  color: white;
}
.zero {
  width: 30vw;
  height: 15vh;
  background-color: #202528;
  color: white;
}